<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'member/css/styles.css'%}">
</head>
<body class="main">
    <header>
        {% include "menu.html" with me="joy" sponsor="W3SCHOOLS" %}
        {% with pageTitle="welcome to member home page" %}
        <h1>{{ pageTitle }}</h1>
        {% endwith %}
        
    </header>
    <main>
        {% for x in myMembers %}
            {% comment %} {% if x.age <= 30 %}
                <p>{{x.id}}:{{x.firstname}} {{x.lastname}}, age:{{x.age}}</p>
            {% endif %} {% endcomment %}
            <p><p>{{x.id}}:{{x.firstname}} {{x.lastname}}, age:{{x.age}}</p></p>
        {% endfor %}
       <div>
            {% if greetings1 != 565 and greetings2 == 5 %}
                <h2>the value of greetings is {{greetings1}} and {{greetings2}}</h2>
         
            {% else %}
                <h2>value is not 5 </h2>    
            {% endif %}

       </div>
       <div>
        {% comment %}
        <h1>Welcome ladies and gentlemen</h1>
        {% endcomment %}
        {% if fruits1 is fruits2 %}
        <h1>YES</h1>
        {% else %}
        <h1>NO</h1>
        {% endif %}
       </div>
    </main>
   {% include "footer.html" %}

</body>
</html>
