<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>members home</title>
</head>
<body>
    <header>
        {% include "menu.html" with me="joy" sponsor="W3SCHOOLS" %}
        {% with pageTitle="welcome to member home page" %}
        <h1>{{ pageTitle }}</h1>
        {% endwith %}
        
    </header>
    <main>
        {% for x in myMembers %}
            {% if x.age <= 30 %}
                <p>{{x.id}}:{{x.firstname}} {{x.lastname}}, age:{{x.age}}</p>
            {% endif %}
        {% endfor %}
       <div>
            {% if greetings1 != 565 and greetings2 == 5 %}
                <h2>the value of greetings is {{greetings1}} and {{greetings2}}</h2>
         
            {% else %}
                <h2>value is not 5 </h2>    
            {% endif %}

       </div>
       <div>
        {% comment %}
        <h1>Welcome ladies and gentlemen</h1>
        {% endcomment %}
       </div>
    </main>
   {% include "footer.html" %}

</body>
</html>
