.heading {
    color: blue;
    font-weight: 600;
    font-size: 20px;

}

#header {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: brown;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}