<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'library/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
  
</head>
<body>
    <div class='px-10'>
        <h1 id="header">Hello, I am from the home page</h1>
        <ul>
            {% for author in authors %}
            <li class="mb-[10px]"> 
                {{ author.name }} 
                <a href="{% url 'addProfile' author.id %}">
                    <button class="border-[2px] border-black rounded-lg p-2 bg-indigo-500 text-white">add profile</button>
                </a>
            </li>
            {% endfor %}
        </ul>
     </div>
     <script >
        console.log('hello world')
     </script>
</body>
</html>
