<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Book status:</h2>
        <h2>Average price:{{status.average_price | floatformat:'5'}}</h2>
        <h2>Total books:{{status.total_books}}</h2>
        <h2>Total price:{{status.total_price | floatformat:'2'}}</h2>

        {% comment %} <h2>Total books:{{total_books}}</h2>
        <h2>Total price:{{total_price}}</h2> {% endcomment %}
    </div>
</body>
</html>